# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Environments
env/
.venv/
venv/

# Data outputs
data/*.parquet
data/*.xlsx
data/*.xls
data/*.json
data/*.zip
*.png
*.csv
!data/analytics_events.csv

# Streamlit
.streamlit/

# OS / Editor
.DS_Store
Thumbs.db
.idea/
.vscode/


